        /* goole font link */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Old+Standard+TT:wght@400;700&family=Open+Sans:wght@400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
}
        /* shared style */

body{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 40px;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.btn-main{
    padding: 15px 35px;
    border-radius: 5px;
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: 0;
}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
.section-description{
    width: 800px;
    margin: 0 auto;
    color:#757575;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

        /* nav area style */
header{
    background-color: #f0cdb475;
    background-image: url(images/developer.png);
    background-repeat: no-repeat;
    height: 800px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 200px;
}
nav h3{
    font-size: 45px;
    font-weight: 800;
} 
.logo-color{
    color: #FD6E0A;
}       
ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style-type: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;    
    color: #474747;
}
            /* banner related style */

.banner{
    display: flex;
    justify-content: space-between;
    padding: 30px 30px 0px 200px;
    background-image: url(images/header_bg.png) ;
    background-repeat: no-repeat;
    background-position: bottom right;
    height: 710px;
}
.banner-content{
    max-width: 500px;
    padding-top: 100px;
}
.banner-gretting{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    color: #181818;
    margin-bottom: 20px;
}
.banner p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; 
    margin-bottom: 20px;
}
.banner .propile-pic {
    margin-top: 60px;
    width: 550px;
    height: 650px;
}          
        /* about section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about{
    margin: 100px 0;
    padding: 100px;
    border-radius: 10px;
    background: #f0cdb4b4;
}  
.about-info-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}  
.about-info-title{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; 
}  
.about-info-description{
    color:  #474747;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}  